.App {
  text-align: center;
}

.App-header {
  background: steelblue;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header-icon {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  margin-right: 5px;
}

.App-header-name {
  color: white;
  font-size: 30px;
}

.App-main {
  background: white;
  margin: 30px;
  margin-top: 0px;
  padding: 5px;
  padding-bottom: 50px;
}

.Home-headline-p {
  font-size: 20px;
  margin: 40px 0px;
}

.Home-instruction-headline {
  margin-top: 50px;
  margin-bottom: -20px;
}

.Home-instruction-headline-h2 {
  font-size: 30px;
  margin: 0px;
}

.Home-instruction-content {
  display: flex;
  justify-content: center;
}

.Home-instruction-content-ul {
  text-align: left;
  list-style: none;
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.Home-button {
  color: white;
  font-size: 20px;
  background: steelblue;
  border: none;
  height: 50px;
  padding: 0px 32px;
  margin-top: 30px;
  border-radius: 8px;
  cursor: pointer;
}

.Home-image {
  width: 80%;
  margin-top: 50px;
}

.Result-container {
  /* padding: 50px; */
  display: flex;
  justify-content: center;
}

.Result-image-container {
  display: flex;
  justify-content: center;
}

.Result-image {
  height: 280px;
  width: 140px;
}

.Result-image-example {
  /* height: 280px; */
  width: 140px;
}

.Result-comment-container {
  /* padding: 60px; */
}

.Result-comment-ul {
  text-align: left;
}

.Result-reset-button {
  color: white;
  font-size: 20px;
  background: steelblue;
  border: none;
  height: 50px;
  padding: 0px 32px;
  margin-top: 30px;
  border-radius: 8px;
  cursor: pointer;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
