argparse
dill
fire
matplotlib
numpy
numba
psutil
pycocotools
requests
scikit-image
scipy
slidingwindow
tqdm
tensorflow
tensorflow-io
opencv-python
fastapi
uvicorn
git+https://github.com/ppwwyyxx/tensorpack.git
git+https://github.com/adrianc-a/tf-slim.git@remove_contrib
